.header{
  position: fixed;
  height: $header-height;
  background-color: $bg-sec;
  padding: .8em;
  display: flex;
  align-items: center;
  z-index: 100;
  h1{
    font-size: 1.8em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}